html, body {
    margin: 0;
    padding: 0;
    font-family: 'Manrope', sans-serif;
    font-weight: 800;
    background-color: hsl(218, 23%, 16%);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.advice-card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: relative;
    width: 100%;
    max-width: 430px;
    height: 300px;
    margin: 200px  auto;
    background-color: hsl(217, 19%, 24%);
    text-align: center;
    border-radius: 10px;
    padding: 0.625em;
}

.advice-title {
    margin-bottom: 1em;
    color: hsl(150, 100%, 66%);
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: 400;
}

.advice-content {
    margin: 0;
    color: hsl(193, 38%, 86%);
    font-size: 1.75em;
    line-height: 1.5;
}
img {
    display: block;
}
.divider {
    padding-bottom: 1.25em;
}
button {
    position: absolute;
    top: calc(100% - 25px); 
    left: 45.5%;
    padding: 0.75em;
    border: none;
    border-radius: 50%;
    background-color: hsl(150, 100%, 66%);
    cursor: pointer;
}
button img {
    display: block;
    width: 20px;
    height: 20px;
}
button:hover {
    background-color: hsl(150, 100%, 70%);
    box-shadow: 0 0 20px hsl(150, 100%, 66%);
}

button:active {
    background-color: hsl(150, 100%, 60%);
    box-shadow: 0 0 20px hsl(150, 100%, 66%);
}
@media(max-width: 375px){
    .advice-card {
        padding: 10px;
        margin: 50px auto;
        height: auto;
    }

    .advice-title {
        font-size: 0.75em;
    }

    .advice-content p {
        /* font-size: 1em; */
        font-size: 6vw;
    }

    button {
        top: calc(100% - 20px);
        padding: 8px;
    }

    /* button img {
        width: 15px;
        height: 15px;
    } */
}

